<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="description" content="{% block description  %}{% endblock %}">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta name="google-site-verification" content="g1pIU_C6BFdLqLvdHE3cyBbDyB8_7kjjGwRBLi-W8as">
    <title>Lance R. Vick | {% block title %} {% endblock %}</title>
    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://lrvick.myopenid.com">
		<link rel="meta" type="application/rdf+xml" href="/foaf.rdf">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/blog.xml/">
		<link rel="stylesheet" type="text/css" media="screen" href="/media/css/default.css">
	</head>
	<body id="{% block cssid %}{% endblock %}">
		<header>
		  <h1><a href="/">Lance R Vick</a></h1>
			<nav>
			  <a href="/">Blog</a>
				<a href="/resume">Resume</a>
				<a href="/projects">Projects</a>
				<a href="/code">Code</a>
			</nav>
		</header>
		<section>
      <aside>
        <div class="contact vcard">
          <img src="http://lrvick.net/media/img/headshot.jpg" alt="photo of Lance" class="photo">
					<a class="url uid fn n noprint" href="http://lrvick.net">
				    <span class="given-name">Lance</span> 
						<abbr class="additional-name" title="Reagan">R.</abbr> 
						<span class="family-name">Vick</span>
					</a>
          <span class="org"><a class="url" href="http://openinspires.com">Open Interactive, LLC.</a></span>
          <span class="title">CTO & Lead Developer</span>
          <a class="email" href="mailto:lance@lrvick.net">lance@lrvick.net</a>
          <div class="adr">
						<a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2264+Gator+Dr.+apt+%23359+Orlando,++FL&amp;sll=28.573566,-81.312496&amp;sspn=0.006577,0.011362&amp;g=2264+Gator+Dr.+Orlando,+%23359+FL&amp;ie=UTF8&amp;hq=&amp;hnear=2264+Gator+Dr+%23359,+Orlando,+Orange,+Florida+32807&amp;ll=28.573601,-81.312481&amp;spn=0.000822,0.00142&amp;t=h&amp;z=20&amp;iwloc=A">
						<span class="street-address">2264 Gator Dr #359</span>
            <span class="locality">Orlando</span>
            <span class="region">FL</span>
            <span class="postal-code">32807</span>
						<span class="country-name">USA</span>
					</a>
          </div>
          <div class="tel">
            <span class="type">Cell</span>
            <a class="value" href="callto:14072837596">+1.407.283.7596</a>
					</div>
          <div class="key">
            <span class="type">PGP</span>
            <a class="url value" href="http://lrvick.net/0x36C8AAA9.asc">0x36C8AAA9</a>
          </div>
          <span class="note">PGP Fingerprint: 4237 9666 2025 35EA E5DD 53CD BDE9 6BA7 421B A39E </span>
					<div class="key">
						<span class="type">SSH</span>
						<a class="url value" href="http://lrvick.net/id_rsa.pub">id_rsa.pub</a>
					</div>
          <span class="note">SSH Fingerprint: 95 b8 bb 09 34 d2 60 61 48 9a e4 1f 40 de 61 8c</span>
					<hr/>
					<a class="url" href="http://lrvick.net/foaf.rdf">
            <img src="http://lrvick.net/media/img/foaf.gif" title="FOAF" alt="FOAF">
					</a>
          <a class="url" href="xmpp:lance@lrvick.net" title="lance@lrvick.net">
            <img src="http://lrvick.net/media/img/google.gif" title="gtalk" alt="Gtalk">
          </a>
          <a class="url" href="aim:goim?screenname=lance@lrvick.net" title="lance@lrvick.net">
            <img src="http://lrvick.net/media/img/aim.gif" title="AIM" alt="AIM">
          </a>
          <a class="url" href="ymsgr:sendIM?lrvick" title="lrvick">
            <img src="http://lrvick.net/media/img/yahoo.gif" title="YIM" alt="YIM">
          </a>
          <a class="url" href="msnim:chat?contact=lance@reaganvick.com" title="lance@lrvick.net">
            <img src="http://lrvick.net/media/img/msn.gif" title="MSN" alt="MSN">
          </a>
          <a class="url" href="skype:lrvick?chat" title="lrvick">
            <img src="http://lrvick.net/media/img/skype.gif" title="Skype" alt="Skype">
          </a>
          <a rel="me" class="url" href="http://www.linkedin.com/in/lrvick">
            <img src="http://www.linkedin.com/favicon.ico" title="LinkedIn" alt="LinkedIn">
          </a>
          <a rel="me" class="url" href="http://www.odesk.com/users/~~8a92bf3d9cd3ec7f">
            <img src="http://lrvick.net/media/img/odesk.gif" title="oDesk" alt="oDesk">
          </a>
          <a rel="me" class="url" href="http://github.com/lrvick">
            <img src="http://lrvick.net/media/img/github.gif" title="GitHub" alt="Github">
          </a>
          <a rel="me" class="url" href="http://sourceforge.net/users/lrvick/">
            <img src="http://lrvick.net/media/img/sourceforge.gif" title="SourceForge" alt="SourceForge">
          </a>
          <a rel="me" class="url" href="http://www.facebook.com/people/Lance-Reagan-Vick/600627717">
            <img src="http://lrvick.net/media/img/facebook.gif" title="Facebook" alt="Facebook">
          </a>
          <a rel="me" class="url" href="http://twitter.com/lrvick">
            <img src="http://lrvick.net/media/img/twitter.gif" title="twitter" alt="Twitter">
          </a>
          <a rel="me" class="url" href="http://www.meetup.com/members/7963809/">
            <img src="http://lrvick.net/media/img/meetup.gif" title="Meetup" alt="Meetup">
          </a>
          <a rel="me" class="url" href="http://www.last.fm/user/lrvick">
            <img src="http://lrvick.net/media/img/last.gif" title="Last.fm" alt="Last.fm">
          </a>
          <a rel="me" class="url" href="http://www.commandlinefu.com/commands/by/lrvick">
            <img src="http://lrvick.net/media/img/commandlinefu.gif" title="Command-Line-Fu" alt="Command-Line-Fu">
          </a>
          <a rel="me" class="url" href="http://snipt.net/lrvick">
            <img src="http://lrvick.net/media/img/snipt.gif" title="Snipt" alt="Snipt">
          </a>
          <a rel="me" class="url" href="http://jyte.com/profile/id.reaganvick.com">
            <img src="http://lrvick.net/media/img/jyte.gif" title="Jyte" alt="Jyte">
          </a>
          <a rel="me" class="url" href="http://digg.com/users/lrvick">
            <img src="http://lrvick.net/media/img/digg.gif" title="Digg" alt="Digg">
          </a>
          <a rel="me" class="url" href="http://lrvick.myplaxo.com/">
            <img src="http://lrvick.net/media/img/plaxo.gif" title="Plaxo" alt="Plaxo">
          </a>
          <a rel="me" class="url" href="http://www.youtube.com/lrvick">
            <img src="http://lrvick.net/media/img/youtube.gif" title="YouTube" alt="YouTube">
          </a>
          <a rel="me" class="url" href="http://www.43things.com/person/lrvick">
            <img src="http://lrvick.net/media/img/43things.gif" title="43 Things" alt="43 Things">
          </a>
          <a rel="me" class="url" href="http://www.wishlistr.com/lrvick">
            <img src="http://lrvick.net/media/img/wishlistr.gif" title="WishListr" alt="WishListr">
          </a>
          <a rel="me" class="url" href="http://claimid.com/lrvick">
            <img src="http://lrvick.net/media/img/claimid.gif" title="ClaimID" alt="ClaimID">
          </a>
          <a rel="me" class="url" href="http://lrvick.myopenid.com">
            <img src="http://lrvick.net/media/img/myopenid.gif" title="MyOpenID" alt="MyOpenID">
          </a>
				</div>
				<div class="tag-cloud">
					<h3>Tag Cloud</h3>
				{% load tag_cloud %}
				{% tag_cloud_for_model blog.Entry as tags with steps=6 min_count=1 distribution=log %}
				{% for tag in tags %}
				<span class="tag-{{tag.font_size}}"><a href="/tag/{{tag.name|slugify}}/">{{tag.name}}</a></span>
				{% endfor %}
			</div>
				<div class="google-latitude">
					<h3>Current Location</h3>
					<iframe src="http://www.google.com/latitude/apps/badge/api?user=9215320111826670805&amp;type=iframe&amp;maptype=roadmap" width="175" height="300"></iframe>	
				</div>
				{% load cache %}
				{% cache 600 twitter %}
				<div class="twitter-recent">
					<h3>Recent Tweets</h3>
					{% load twitter_feed %}
          {% twitter 'lrvick' 3 %}
				</div>
        {% endcache %}
				{% cache 2000 reader %}
				<div class="google-reader">
					<h3>Recent Reading</h3>
					{% load googlereader_feed %}
          {% googlereader '04303235246596262838' 10 %}
				</div>
        {% endcache %}
				{% cache 300 lastfm %}
				<div class="lastfm-latest">
					<h3>Recent Music</h3>
					{% load lastfm_feed %}
          {% lastfm 'lrvick' 10 %}
				</div>
        {% endcache %}
      </aside>
      <article>
		  {% block main %}{% endblock %}
		  </article>
		</section>
		<footer>
		  <a href="http://jigsaw.w3.org/css-validator/check/referer/">VALID:CSS</a> |
			<a href="http://validator.w3.org/checklink?uri=http://lrvick.net/">VALID:LINKS</a> |
			<a href="http://validator.w3.org/check/referer">VALID:HTML5</a> |
		  <a href="http://validator.w3.org/feed/check.cgi?url=http://lrvick.net">VALID:RSS</a>
			</footer>
			<script type="text/javascript">
				var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
				document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
				try {
					var pageTracker = _gat._getTracker("UA-16283955-1");
					pageTracker._trackPageview();
					} catch(err) {}</script>
			<script type="text/javascript">
				var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.udderweb.com/" : "http://piwik.udderweb.com/");
				document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
				</script><script type="text/javascript">
				try {
					var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
					piwikTracker.trackPageView();
					piwikTracker.enableLinkTracking();
				} catch( err ) {}
			</script><noscript><p><img src="http://piwik.udderweb.com/piwik.php?idsite=2" style="border:0" alt=""/></p></noscript>
	</body>
</html>
