{% extends 'base.html' %}
{% block main %}
<div class="headerimg">
	<p class="twitter">
	<img src="/media/img/twitter.png">
	{{ tweet.text }}
	</p>
</div>
<article>
<p>!!— Site is currently being rebuilt and undergoing experimentation. You may be eaten by a grue. — !!

<p>Welcome to my blog and personal portfolio.

<p>My name is Lance Reagan Vick. I am a web developer, programmer, graphics artist, and network engineer.

<p>In web development I take my work seriously and design for maximum accessibility.

<p>I am also a dedicated network and open source technology specialist who refuses to cut corners when it comes to security. Though perfect security does not exist, researching and implementing the latest in available security measures into the networks I directly administrate, is part of my daily routine.

<p>Though my primary skills are programming and Linux administration, my passion is art. Art to me can be coming up with a diverse block of code to solve a complex problem, writing a song, coming up with some new optical illusion and way to entertain people, or drawing a picture. I very much enjoy anything that allows me to be creative and think outside the box.

<p>My goal is to in some way improve the world I live in, and aid those around me as possible.

<p>I believe life is like a canvas, and it is our purpose as colors to paint it. I want to paint something beautiful others can enjoy, and motivate them to do the same with their own gifts or talents.

<p>Please take a look around my site and if you feel my skills may be of use to you or your company/group, please do not hesitate to drop me an email.

<p>Thanks for stopping by.
</article>
{% endblock %}
